<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^anasayfa(\.html)$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^index(\.html)$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^iletisim(\.html)$" />
                    <action type="Rewrite" url="iletisim.php" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^arama(\.html)$" />
                    <action type="Rewrite" url="arama.php" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^kategori-detay-([a-zA-Z0-9\-_]+)?(\.html)$" ignoreCase="false" />
                    <action type="Rewrite" url="kategoridetay.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^haberler(\.html)$" />
                    <action type="Rewrite" url="haberler.php" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^hizmetler(\.html)$" />
                    <action type="Rewrite" url="hizmetler.php" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^hizmet-detay-([a-zA-Z0-9\-_]+)?(\.html)$" ignoreCase="false" />
                    <action type="Rewrite" url="hizmetdetay.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^haber-detay-([a-zA-Z0-9\-_]+)?(\.html)$" ignoreCase="false" />
                    <action type="Rewrite" url="haberdetay.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^sayfa-detay-([a-zA-Z0-9\-_]+)?(\.html)$" ignoreCase="false" />
                    <action type="Rewrite" url="sayfadetay.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^foto-galeri(\.html)$" />
                    <action type="Rewrite" url="fotogaleri.php" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^projelerimiz(\.html)$" />
                    <action type="Rewrite" url="projelerimiz.php" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^proje-detay-([a-zA-Z0-9\-_]+)?(\.html)$" ignoreCase="false" />
                    <action type="Rewrite" url="projedetay.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 14" stopProcessing="true">
                    <match url="^oda-detay-([a-zA-Z0-9\-_]+)?(\.html)$" ignoreCase="false" />
                    <action type="Rewrite" url="odadetay.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 15" stopProcessing="true">
                    <match url="^rez-detay-([a-zA-Z0-9\-_]+)?(\.html)$" ignoreCase="false" />
                    <action type="Rewrite" url="rezdetay.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 16" stopProcessing="true">
                    <match url="^odalar(\.html)$" />
                    <action type="Rewrite" url="odalar.php" />
                </rule>
                <rule name="Imported Rule 17" stopProcessing="true">
                    <match url="^rezervasyon(\.html)$" />
                    <action type="Rewrite" url="odalar.php" />
                </rule>
                <rule name="Imported Rule 18" stopProcessing="true">
                    <match url="^z-defteri(\.html)$" />
                    <action type="Rewrite" url="zdefteri.php" />
                </rule>
                <rule name="Imported Rule 19" stopProcessing="true">
                    <match url="^restorant(\.html)$" />
                    <action type="Rewrite" url="restorant.php" />
                </rule>
                <rule name="Imported Rule 20" stopProcessing="true">
                    <match url="^mesaj(\.html)$" />
                    <action type="Rewrite" url="mesaj.php" />
                </rule>
                <rule name="Imported Rule 21" stopProcessing="true">
                    <match url="^portfolyo(\.html)$" />
                    <action type="Rewrite" url="portfolyo.php" />
                </rule>
                <rule name="Imported Rule 22" stopProcessing="true">
                    <match url="^calisma-ekibimiz(\.html)$" />
                    <action type="Rewrite" url="ekibimiz.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
