<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1-1" stopProcessing="true">
                    <match url="^([a-zA-Z0-9\-_]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="anasayfa.php?sayfa={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2-1" stopProcessing="true">
                    <match url="^kampanyali-scriptler-(.*?)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?sayfa=kampanyali-scriptler&amp;s={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 3-1" stopProcessing="true">
                    <match url="^urunler-(.*?)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?sayfa=urunler&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4-1" stopProcessing="true">
                    <match url="^haberler-(.*?)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?sayfa=haberler&amp;s={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 5-1" stopProcessing="true">
                    <match url="^urun-detay-(.*?)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?sayfa=urun-detay&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 6-1" stopProcessing="true">
                    <match url="^haber-detay-(.*?)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?sayfa=haber-detay&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 7-1" stopProcessing="true">
                    <match url="^sayfalar-(.*?)?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?sayfa=sayfalar&amp;id={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
